body{
    background-color: black;
}

div{
    margin-top: 8%;
    margin-left: 25%;
    width:50%;
    margin-right: 25%;
}

img{
    border: white solid 5px;
    width:100%;
}

h1{
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    color:white;
    text-transform:uppercase;
    text-align: center;
    font-size: 50px;
}

p{
    color:white;
    text-align: center;
    font-size: 20px;
}